body {
  margin: 0;
  background: rgb(144,144,144);
  background: linear-gradient(90deg, rgba(144,144,144,1) 0%, rgba(199,199,199,1) 45%, rgba(153,161,163,1) 100%);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewer {
  width: fit-content;
  display: flex;
  background-color: white;
  box-shadow: 0 0 25px black;
}

.l_arrow {
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.l_arrow:hover {
  background-color: rgb(217, 217, 217);
}

.photo {
  position: relative;
  background-color: rgb(73, 73, 73);
}

.r_arrow {
  align-items: center;
  display: flex;
  transform: rotate(0.5turn);
  padding: 0 20px;
}

.r_arrow:hover {
  background-color: rgb(217, 217, 217);
}

.description {
  height: 170px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 0 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.descrition h1 {
  margin: 0 20px;
}

.description p {
  margin: 20px 0;
}

.thubnails {
  margin-top: 5px;
  width: 1000px;
  height: 130px;
  display: flex;
  align-items: center;
}

.thubnail {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.sphoto img {
  padding: 5px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.sphoto img:hover {
  background-color: rgb(73, 73, 73);
  transform: scale(1.2);
}

.uparrow {
  position: absolute;
  top: -26px;
  left: 25px;
}

img {
  display: block;
}

.hide {
  display: none;
}

.active {
  transform: scale(1.2);
  background-color: rgb(73, 73, 73);
}

.hover {
  width: 100px;
  background-color: white;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
  position: absolute;
  top: -60px;
  left: -35px;
  text-align: center;
  border: 1px solid rgb(73, 73, 73);
}

.fade {
  transition: 0.5s all ease-in-out;
}
