body {
  margin: 0;
  background: rgb(144,144,144);
background: linear-gradient(90deg, rgba(144,144,144,1) 0%, rgba(199,199,199,1) 45%, rgba(153,161,163,1) 100%);
}

main {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.viewer {
  margin: auto;
  width: fit-content;
  display: flex;
  background-color: white;
  box-shadow: 0 0 25px black;
}

.l_arrow {
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.l_arrow:hover {
  background-color: rgb(217, 217, 217);
}

.photo {
  position: relative;
}

.r_arrow {
  align-items: center;
  display: flex;
  transform: rotate(0.5turn);
  padding: 0 20px;
}

.r_arrow:hover {
  background-color: rgb(217, 217, 217);
}

.description {
  height: 170px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 0 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.descrition h1 {
  margin: 0 20px;
}

.description p {
  margin: 20px 0;
}

.thubnails {
  width: 1040px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  margin: 20px;
}

.thubnail {
  overflow: hidden;
  width: 80px;
  height: 80px;
  background-color: white;
}

.thubnail:hover {
  width: 90px;
  height: 90px;
}

.thubnail img {
  padding: 5px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.thubnail img:hover {
  width: 80px;
  height: 80px;
}

img {
  display: block;
}

.hide {
  display: none;
}

.active {
  background-color: blue;
}